InventoryPOC/.vs/InventoryPOC/v17/.suo
InventoryPOC/.vs/InventoryPOC/v17/.suo
InventoryPOC/.vs/InventoryPOC/DesignTimeBuild/.dtbcache.v2
InventoryPOC/.vs/InventoryPOC/FileContentIndex/1a5e42f1-c13a-469d-afc5-1335b7162808.vsidx
